.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  width: 500px;
}

.title {
  display: flex;
  align-self: center;
}
.wrapper {
  display: flex;
  margin-top: 20px;
}
